<div layout layout-sm="column">
  <md-input-container flex>
    <label>Event Name</label>
    <input ng-model="formData.name">
  </md-input-container>
</div>
<div layout layout-sm="column">
  <md-input-container flex>
    <label>About the Cook</label>
    <textarea ng-model="formData.description" columns="1"></textarea>
  </md-input-container>
</div>
<div layout layout-sm="column">
  <md-input-container flex>
    <label>Ingredients You Need</label>
    <input ng-model="formData.ingredient.name">
  </md-input-container>
  <md-input-container flex>
    <label>Brand of Choice</label>
    <input ng-model="formData.ingredient.buy_url">
  </md-input-container>
  <md-input-container flex>
    <label>Quantity</label>
    <input ng-model="formData.ingredient.qty">
  </md-input-container>
  <md-button class="md-icon-button" aria-label="Favorite" ui-sref-active="active" ng-click="addNewChoice()">
    <ng-md-icon icon="cake" style="fill: lightblue" size="24"></ng-md-icon>
  </md-button>
</div>

  <!-- ng repeat -->
<div layout layout-sm="column" ng-repeat="ingredient in ingredientsList track by $index">
  <span class="ingredient.name">{{ ingredient.name }}</span>
  <span class="ingredient.buy_url">{{ ingredient.buy_url }}</span>
  <span class="ingredient.qty">{{ ingredient.qty }}</span>
  <span class="deleteMe">
    <md-button class="md-icon-button" aria-label="Favorite" ui-sref-active="active" ng-click="removeIngredient($event, $index)">
      <ng-md-icon icon="cake" style="fill: lightblue" size="24"></ng-md-icon>
    </md-button>
  </span>
</div>
<div layout layout-sm="row">
  <md-input-container flex>
    <label>Kitchen Tools You Need</label>
    <input ng-model="formData.tool.name">
  </md-input-container>
  <md-input-container flex data>
    <label>Link to Purchase</label>
    <input ng-model="formData.tool.buy_url">
  </md-input-container>
  <md-button class="md-icon-button" aria-label="Favorite" ui-sref-active="active" ng-click="addNewTool()">
    <ng-md-icon icon="cake" style="fill: lightblue" size="24"></ng-md-icon>
  </md-button>
</div>
   <!-- ng repeat -->
<div layout layout-sm="column" ng-repeat="tool in toolsList track by $index">
    <span class="tool.name">{{ tool.name }}</span>
    <span class="tool.buy_url">{{ tool.buy_url }}</span>
     <span class="deleteMe">
       <md-button class="md-icon-button" aria-label="Favorite" ui-sref-active="active" ng-click="removeTool($event, $index)">
         <ng-md-icon icon="cake" style="fill: lightblue" size="24"></ng-md-icon>
       </md-button>
     </span>
</div>
<md-button flex class="md-raised md-primary" ng-click="startSteps()" ui-sref="createEvent.step">Add Step</md-button>
