@import "create";
@import "chat";

.md-1-line-bullet-icon {
  position: relative;
  padding-left: 15px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #03a9f4;
  }
}

.md-icon-step-next {
  position: relative;
  top: 6px;
}