@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximaNova-light.woff') format('woff'),
       url('/fonts/proximaNova-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximaNova-italic.woff') format('woff'),
       url('/fonts/proximaNova-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximaNova-semi-bold.woff') format('woff'),
  url('/fonts/proximaNova-semi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximaNova-normal.woff') format('woff'),
  url('/fonts/proximaNova-normal.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximaNova-bold.woff') format('woff'),
  url('/public/fonts/proximaNova-bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

$proxima-lead: "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif;

$md-primary: #fdc52d;
$md-font-base: #394453;
$secondary-background: #EDF2FE;

@import "index";
@import "create";
@import "chat";
@import "steps";
@import "step";
@import "video";

html, body, button, select, input, textarea {
  font-family: $proxima-lead;
  color: $md-font-base;
}

md-tabs {
  .md-tab {
    font-size: 16px;
    font-weight: 600;
    color: $md-font-base;
  }
}

.md-button {
  border-radius: 2px;
  padding: 3px 10px;
}

.md-button,
.md-button.md-primary {
  text-transform: capitalize;
}
.md-button.md-primary.md-raised {
  color: white;
  box-shadow: none;
}

.md-icon-step-next {
  position: relative;
  top: 6px;
}

.sun-progress-bar {
  md-progress-linear:not([md-mode="indeterminate"]) .md-container {
    top: 0;
  }
  md-progress-linear .md-container {
    background-color: lighten($md-primary, 25%);
  }
}