<section class="sun-steps" ng-controller="ListCtrl as list">
  <div layout="row" class="sun-steps__title">
    <div flex>
      <h4>Steps</h4>
    </div>
    <div flex>8 steps</div>
  </div>
  <div layout="row" class="sun-steps__step-container">
    <md-list style="width: 100%;">
      <md-list-item ng-click="list.changeToStep(step.number)" ng-repeat="step in list.steps track by $index">
        <div class="sun-steps__step" layout="row" ng-class="{active: step.number === list.currentStep}">
          <div class="single-steps__step-number" flex="5">
            {{ step.number }}
          </div>
          <div class="single-steps__step-content" flex="95">
            <md-switch class="md-secondary" ng-model="step.isComplete"></md-switch>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </div>
</section>


